<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - Farm Shops</title>
		{% else %}
		<title>Welcome to the Farm Shops app</title>
		{% endif %}
	</head>
	<body>
		<div>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('create_farm_form') }}">Add a new farm</a>
			<a href="{{ url_for('create_product_form') }}">Add a new product</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>