<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - Farm Shops</title>
		{% else %}
		<title>Welcome to the Farm Shops app</title>
		{% endif %}
	</head>
	<body>
		<div>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('farms') }}">Home</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
	<script>
		jwt = localStorage.getItem('token')
		if (window.location.hash.split('&').length == 3){
			if (window.location.hash.split('&')[0].split('=')[0] = '#access-token') {
				jwt = window.location.hash.split('&')[0].split('=')[1]
				document.cookie = 'access_token_cookie=' + jwt;
				localStorage.setItem("token", jwt)
			}
		}
	</script>
</html>