<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - Farm Shops</title>
		{% else %}
		<title>Welcome to the Farm Shops app</title>
		{% endif %}
	</head>
	<body>
		<div>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('farms') }}">Home</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
	<script>
		jwt = ''
		token_type = '';

		if (localStorage.getItem('token')) {
			jwt = localStorage.getItem('token');
		}

		params = window.location.hash.split('&');

		if (params.length > 0){
			for (let i = 0; i < params.length; i++) {
				if (params[i].split('=')[0] == "#access_token") {
					jwt = params[i].split('=')[1];
					console.log('jwt is ', jwt);
				}
				if (params[i].split('=')[0] == 'token_type') {
					token_type = params[i].split('=')[1];
					console.log('token type is ', token_type);
				}
			}
		}

		if (token_type == 'Bearer') {
			document.cookie = 'access_token_cookie=' + jwt;
			localStorage.setItem("token", jwt);
		}
	</script>
</html>